.pops{
    background-color: black;
    box-sizing:border-box ;
    border: blueviolet;
    width:1100px;
    height:1000px;
    display:"grid";
   margin-left: 70px;
    margin-top: 50px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  color:white;
}
